@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Grotesk;
}

.header_section{
    background-color: #06060B;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}
.header_section nav{
    display: flex;
    gap: 20px;
}
button{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid #06060B;
    padding: 10px;
    transition: 0.1s;
    border-radius: 10px;
    font-size: 20px;
}
button img{
    width: 50px;
    height: 50px;
}
a{
    text-decoration: none;
    
}
a img{
    transform: scale(0.8);
}
button:hover{
    cursor: pointer;
    border: 1px solid white;
}

body {
    background: radial-gradient(circle at 20% 20%, #2b235a, #0c0f1f 60%);
    color: white;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.game_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    margin: auto;
    gap: 10px;
}
#game{
    border-radius: 10px;
}