@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Space Grotesk;
}

body {
    background: radial-gradient(circle at 20% 20%, #2b235a, #0c0f1f 60%);
    color: white;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container {
    width: 100%;
    margin: auto;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.left {
    flex: 1;
}

.badge {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 30px;
    background: rgba(140, 90, 255, 0.15);
    color: #a78bfa;
    font-size: 14px;
    margin-bottom: 25px;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 25px;
}

h1 span {
    color: #8b5cf6;
}

p {
    font-size: 18px;
    color: #bdbdcf;
    max-width: 520px;
    margin-bottom: 35px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.btn-primary {
    padding: 14px 28px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #8b5cf6, #6366f1);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(139, 92, 246, 0.4);
}

.btn-secondary {
    padding: 14px 28px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    background: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    background: rgba(255,255,255,0.05);
}

.stats {
    display: flex;
    gap: 40px;
}

.stat h3 {
    font-size: 20px;
    font-weight: 700;
}

.stat span {
    font-size: 14px;
    color: #aaa;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mockup {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 60px rgba(0,0,0,0.6);
}

.mockup img {
    width: 100%;
    display: block;
}

@media(max-width: 900px) {
    .container {
    flex-direction: column;
    text-align: center;
    }

    .stats {
    justify-content: center;
    }

    p {
    margin: auto auto 35px auto;
    }
}

.games_container{
    width: 100%;
    margin: auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.game{
    display: flex;
    border: 1px solid #6366f1;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
    height: 380px;
    
}
.game img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}