@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: Space Grotesk;
}
body{
    background-color: #181729;
   
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 15px;
}
section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/imgs/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

h1{
    font-size: 100px;
    color: white;
}
h2{
    font-size: 30px;
    color: #7EA0B0;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 0px solid ;
    background-color: #7D70EA;
    font-weight: bold;
    color: white;
    transition: .1s;
}
button:hover{
    transform: translateY(-3px);
    width: 210px;
    cursor: pointer;
    background-color: #584fa8;
    box-shadow: 0 10px 25px rgba(139, 92, 246, 0.4);
}
